body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Color Box */
#colorBox {
    width: 300px;
    height: 200px;
    background-color: lightgray;
    margin: 20px auto;
    border: 2px solid black;

    /* Smooth transition */
    transition: background-color 0.5s ease;
}
